include /bem

+b('section').course-feedbacks.teacher-feedback._loading
  +e.head
    +e('h2').title Отзывы учеников

  +e.feedbacks-list(data-feedback-container)

  +e.loader
    +b.page-loader
      +b('span').spinner._active._small
        +e('span').dot._1
        +e('span').dot._2
        +e('span').dot._3
