+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p.
      Курс будет проходить по схеме 5 + 4 + 2, т.е. 5 занятий, затем перерыв неделя, затем ещё 4, перерыв, и ещё 2.
      Так оптимально, чтобы все участники имели время подумать над предложенными подходами и что-то написать с их использованием. Первая встреча традиционно является собранием.

    p На каждом занятии мы изучаем что-то новое. После встречи даётся домашнее задание.

    p.
      На следующем занятии мы смотрим, что и как получилось его решить и как сделать лучше.
      Чтобы получить от курса максимум результата, нужно не только слушать, но и делать что-то дома, а затем – показывать преподавателю.
      Только так, постепенно, с обратной связью от преподавателя, создавая проект на Angular, вы действительно разберётесь, что и как.

    p На этом курсе мы изучаем последнюю стабильную версию Angular.JS. Есть много способов что-то сделать на этом фреймворке, и мы концентрируемся на том, как разрабатывать правильно.


