+b.courses-parts.courses-mix
  +e('h2').title Основные темы программы

  +b.tabbed-pane._01

    +e('ul').tabs
      +e('li').tab._01 Первая часть курса
      +e('li').tab._02 Вторая часть курса
      +e('li').tab._03 Третья часть курса

    +e.body._01
      +e('h2').title.phone-only Первая часть курса
      ol
        li
          strong Быстрый старт с AngularJS
          ul
            li Общая структура фреймворка.
            li Встроенные директивы и шаблонизация в AngularJS.
            li Двустороннее связывание.
            li Создание своих директив.
            li Вложенные директивы, наследование и передачи <code>$scope</code>.
        li
          strong Сервисы
          ul
            li Организация service provider'ов и зависимостей.
            li Встроенные сервисы AngularJS.
            li Написание своих сервисов, отличия между реализациями провайдера.
            li Переопределение и расширение сторонних сервисов. Использование декораторов
        li
          strong Редактирование данных, модель и формы в AngularJS
          ul
            li Модель, директива <code>ng-model</code>.
            li Удобная валидация форм, встроенные и свои директивы.
            li Импорт контроллера директивы и использование ng-model контроллера
            li Автоматичский показ ошибок, <code>ng-message</code>.

        li
          strong Навигация и маршрутизация
          ul
            li Роутер ui-router
            li Управление состояниями: <code>$state</code> и <code>$stateProvider</code>.
            li Множественные view и вложенные стейты
            li Предзагрузка данных по средством resolve

      p.
        По окончанию первой части курса вы понимаете, как разработать на AngularJS несложное приложение для вывода и редактирования данных.

    +e.body._02
      +e('h2').title.phone-only Вторая часть курса
      ol
        li
          strong Авторизация в приложении

          ul
            li Интерфейс для авторизации на AngularJS
            li Интерцептор для проверки прав.
            li Роль роутера в ограничеснии прав доступа

        li
          strong Организация приложения на диске
          ul
            li Файловая структура.
            li WebPack для сборки.

        li
          strong Автоматизированные тесты.
          ul
            li Unit-тесты и TDD (вместе с jasmine и karma).
            li Специфика тестирования сервисов, контроллеров и директив
            li Функциональные(e2e) тесты с использованием protractor

    +e.body._03
      +e('h2').title.phone-only Третья часть курса
      ol

        li
          strong отладка приложения
          ul
            li разбор сущностей AngularJS в консоли
            li обзор вспомогательных инструментов
        li
          strong Более сложные директивы
          ul
            li Использование сервиса <code>$compile</code>.
            li вложенные директивы с transclude.

        li
          strong Интеграция со сторонними модулями
          ul
            li Сторонние плагины, не знающие про AngularJS
            li <code>$scope.watch</code>
            li <code>$scope.apply</code>
            li События, <code>ng-events</code> на <code>$scope</code>

        li
          strong Возможные проблемы и их решение
          ul
            li <code>$watch</code> и проблемы производительности
            li Серверный рендеринг, поисковики
            li Подгрузка модулей на лету
            li AngularJS и Drag'n'Drop

        li
          strong Возможное будущее, краткая информация про Angular 2.0


  script.
    var className = 'tabbed-pane', block = document.querySelector('.' + className);

    block.querySelector('.' + className + '__tabs').addEventListener('click', function(e) {
       block.className = className + ' ' + className + '_' +  e.target.className.split('_').pop();
    });



