
/* line 8 : /root/javascript-nodejs/handlers/about/client/styles/index.styl */

/* line 1 : /root/javascript-nodejs/node_modules/stylus-loader/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /root/javascript-nodejs/node_modules/stylus-loader/node_modules/stylus/lib/functions/index.styl */

/* line 62 : /root/javascript-nodejs/styles/blocks/variables/variables.styl */

/* line 62 : /root/javascript-nodejs/styles/blocks/variables/variables.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/border.styl */

/* line 10 : /root/javascript-nodejs/node_modules/nib/lib/nib/border.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/clearfix.styl */

/* line 28 : /root/javascript-nodejs/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/color-image.styl */

/* line 4 : /root/javascript-nodejs/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/image.styl */

/* line 25 : /root/javascript-nodejs/node_modules/nib/lib/nib/image.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/overflow.styl */

/* line 20 : /root/javascript-nodejs/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /root/javascript-nodejs/node_modules/nib/lib/nib/positions.styl */

/* line 66 : /root/javascript-nodejs/node_modules/nib/lib/nib/positions.styl */

/* line 5 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/aliases.styl */

/* line 12 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 9 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 8 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 9 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 2 : /root/javascript-nodejs/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 1 : /root/javascript-nodejs/node_modules/nib/lib/nib/size.styl */

/* line 28 : /root/javascript-nodejs/node_modules/nib/lib/nib/size.styl */

/* line 1 : /root/javascript-nodejs/styles/blocks/mixins/hover.styl */

/* line 1 : /root/javascript-nodejs/styles/blocks/mixins/imagesize.styl */

/* line 9 : /root/javascript-nodejs/styles/blocks/mixins/imagesize.styl */

/* line 9 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
.about-banner {
  position: relative;
  min-height: 380px;
  color: #fff;
  background: url(/pack/handlers/about/client/styles/about-banner/header.c414e72a87b700d27efbcfe6f6358f59.jpg) no-repeat;
  background-size: cover;
}

/* line 11 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
.about-banner__header {
  position: absolute;
  top: 75px;
  width: 100%;
  text-align: center;
}

/* line 19 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
.about-banner__title {
  font-size: 24px;
  font-weight: normal;
  line-height: initial;
}

/* line 24 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
.about-banner__name {
  font-size: 51px;
  font-weight: bold;
  line-height: 51px;
}

/* line 29 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
.about-banner__line {
  width: 110px;
  height: 2px;
  margin-top: 42px;
  border: none;
  background: rgba(255,255,255,0.2);
}
@media (max-width: 690px) {

/* line 38 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
  .about-banner__header {
    top: 35px;
  }

/* line 41 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
  .about-banner__title {
    font-size: 18px;
  }

/* line 44 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
  .about-banner__name {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 480px) {

/* line 49 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */
  .about-banner__line {
    display: none;
  }
}

/* line 50 : /root/javascript-nodejs/handlers/about/client/styles/about-banner/index.styl */

/* line 50 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
.about-list {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

/* line 9 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
.about-list__list {
  display: inline-table;
  width: 100%;
  max-width: 1200px;
}

/* line 14 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
.about-list__item {
  display: table-cell;
  padding: 0 10px;
  text-align: center;
}

/* line 21 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
.about-list__num {
  font-size: 2.8vw;
  line-height: 2.8vw;
  font-weight: bold;
}

/* line 26 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
.about-list__description {
  margin: 10px 0 0 0;
  opacity: 0.6;
}
@media (min-width: 1420px) {

/* line 32 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
  .about-list__num {
    font-size: 42px;
    line-height: 42px;
  }
}
@media (max-width: 840px) {

/* line 37 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
  .about-list__num {
    font-size: 16px;
  }

/* line 40 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
  .about-list__description {
    font-size: 12px;
  }
}
@media (max-width: 690px) {

/* line 44 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
  .about-list__list {
    display: block;
    text-align: center;
  }

/* line 49 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */
  .about-list__item {
    display: inline-block;
    margin-top: 20px;
  }
}

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-list/index.styl */

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-layout/index.styl */

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-layout/index.styl */
.about-layout {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 5 : /root/javascript-nodejs/handlers/about/client/styles/about-layout/index.styl */
.about-layout .columns__col {
  padding: 40px 30px;
}

/* line 8 : /root/javascript-nodejs/handlers/about/client/styles/about-layout/index.styl */
.about-layout__left.columns__col {
  padding-left: 85px;
  border-right: 1px solid #eee;
}
@media (max-width: 840px) {

/* line 14 : /root/javascript-nodejs/handlers/about/client/styles/about-layout/index.styl */
  .about-layout .columns__col {
    display: block;
    width: auto;
    margin-top: 20px;
    border: none;
  }
}

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-layout/index.styl */

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text {
  font-size: 16px;
  line-height: initial;
  counter-reset: items;
}

/* line 7 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__body_center {
  text-align: center;
}

/* line 10 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__title {
  text-align: center;
  margin-bottom: 40px;
}

/* line 15 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__list {
  list-style: none;
}

/* line 18 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__item {
  margin-top: 15px;
  padding-left: 1.6em;
}

/* line 22 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__item:before {
  position: absolute;
  margin-left: -1.6em;
  color: #999;
  text-align: right;
  counter-increment: items;
  content: counter(items) ".";
}

/* line 33 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__human {
  min-height: 66px;
  margin-top: 20px;
  padding-left: 78px;
}

/* line 39 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__human-title a:visited {
  color: #0059b2;
}

/* line 42 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__human-userpic {
  position: absolute;
  overflow: hidden;
  width: 65px;
  height: 65px;
  margin: -10px 0 0 -78px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
}

/* line 53 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__human-userpic-i {
  width: 65px;
}

/* line 56 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */
.about-text__human-role {
  margin: 10px 0 0 0;
  color: #999;
}

/* line 59 : /root/javascript-nodejs/handlers/about/client/styles/about-text/index.styl */

/* line 59 : /root/javascript-nodejs/handlers/about/client/styles/about-map/index.styl */

/* line 1 : /root/javascript-nodejs/handlers/about/client/styles/about-map/index.styl */
.about-map {
  background: #fbfafa;
}

/* line 4 : /root/javascript-nodejs/handlers/about/client/styles/about-map/index.styl */
.about-map__title {
  line-height: initial;
  padding: 25px;
  text-align: center;
}

/* line 10 : /root/javascript-nodejs/handlers/about/client/styles/about-map/index.styl */
.about-map__map-container {
  height: 500px;
}
